*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body{
    width: 100%;
    height: 100%;
    background-color: #212121;
}


/* for the naviation bar */
.navbar{
    padding: 0vh 0vw 0vh 8vw;
    height: 0px;
    position: sticky;
    top: -2vh;
    right: 0vw;
    left: 0vw;
    display: flex;
    z-index: 100;
}

.navbar img{
    width: 16vw;
    height: 16vh;
    flex-basis: 10%;
}

.navbar ul{
    flex-basis: 80%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 6vh 0vw 0vh 24vw;
}

.navbar ul li a{
    text-decoration: none;
    color: #efefef;
    font-size: 2.2vh;
    font-weight: bolder;
    padding: 1vh 1vh;
    margin: 2vw 1vh;
}

.navButton1{
    color: #F6BB26;
}





#whole-body{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}







/* for the landing page */
#landing-page{
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 0vh 0vw 0vh 8vw;
    margin: 0vh 0vw 0vh 0vw;
}

.landing-page-text{
    flex-basis: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: #efefef;
    font-size: 2.5vh;
    margin: 4vh 0vw 0vh 0vw;
}

.landing-page-text h3{
    color: #F6BB26;
    padding: 2vh 0vh;
    font-weight: lighter;
    font-size: 4vh;
}

.landing-page-text h1{
    font-size: 10vh;
    padding: 0vh 0vh;
    font-weight: bolder;
}


.landing-page-image{
    flex-basis: 40%;
    margin: 10vh 0vw 0vw 10vw;
    display: flex;
    flex-wrap: nowrap;
}


#dialogueBox{
    opacity: 0;
    height: 30vh;
    width: 16vw;
    margin: -16vh -8vw 0vh 0vw;
    z-index: 2;
    display: block;
    rotate: -16deg;
    cursor: pointer;
}


.landing-page-image:hover > #dialogueBox{
    animation-name: make-visible;
    animation-duration: .1s;
    visibility: visible;
    opacity: 1;
    margin: 16vh -8vw 0vh 0vw;
}

@keyframes make-visible{
    from{
        opacity: 0;
        margin: 0vh -8vw 0vh 0vw;
    }
    to{
        opacity: 1;
        margin: 16vh -8vw 0vh 0vw;
    }

}

.dialogueBox-text{
    padding: 1vh 4vw;
    font-size: 2.4vh;
    font-weight: bolder;
    rotate: 1deg;
    margin: -19vh 0vw 0vh -3vw;
}

.portrait{ 
    height: 90vh;
    z-index: 1;
    padding: 8vh 0vw 0vh 0vw;
    cursor: pointer;
}









/* for the about page */

#about-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 0vh 0vw 0vh 0vw;
    margin: 0vh 0vw 0vh 0vw;
}

.about-page-image{
    flex-basis: 40%;
    margin: 18vh 0vw 0vh 0vw;
    display: flex;
    flex-wrap: nowrap;
}

.about-page-text{
    flex-basis: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    font-weight: regular;
    text-align: left;
    color: #efefef;
    font-size: 2.5vh;
    margin: 4vh 8vw 0vh 8vw;
}

.about-page-text h2{
    color: #F6BB26;
    margin: 1vh;
}

.about-page-text p{
    margin: 1vh;
}

.readMoreButton-about{
    padding: 1vh 3vh;
    margin: 0vw 0vh;
    background-color: transparent;
    width: fit-content;
    font-size: 2.2vh;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #F6BB26;
    transition-duration: .5s;
}

.readMoreButton-about:hover{
    background-color: #efefef;
    color: #212121;
}












/* C.V */
#CV{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 0vh 0vw 0vh 0vw;
    margin: 0vh 0vw 0vh 0vw;
}

.CV-page-text{
    flex-basis: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    font-weight: regular;
    text-align: left;
    color: #efefef;
    font-size: 2.5vh;
    margin: 4vh 8vw 0vh 8vw;
}

.CV-page-text .ViewCVbutton-cv{
    padding: 1vh 3vh;
    margin: 0vw 0vh;
    background-color: transparent;
    width: fit-content;
    font-size: 2.2vh;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #F6BB26;
    transition-duration: .5s;
}


.CV-page-image{
    flex-basis: 60%;
    margin: 10vh 0vw 0vh 0vw;
    scale: 80%;
}

.CV-page-image .cv-image{
    border: 2px solid #F6BB26;
    padding: 2vh;
    filter: blur(1.5px);
}
















/* for navigation buttons */

.navigation-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: #efefef;
    position:sticky;
    bottom: 3vh;
    font-weight: regular;
    
}

.navigation-button{
    height: .5vh;
    width: .5vh;
    margin: 0vh 1vh;
    background-color: #F6BB26;
    border-radius: 50%;
    transition-duration: .5s;
    cursor: pointer;
}

.navigation-button:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

#navigation-button-1{
    height: 1vh;
    width: 1vh;
    transform: translate(-30%, -30%);
    box-shadow: 0px 0px 8px 2px rgb(255, 255, 255);
}




